<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.github.zachary-kuhn.cloudflare-ddns</string>

        <key>Program</key>
        <string>/Users/zachary/bin/update-dns</string>

        <key>KeepAlive</key>
        <dict>
            <key>NetworkState</key>
            <true/>
        </dict>

        <key>StartInterval</key>
        <integer>900</integer>

        <key>RunAtLoad</key>
        <true/>

        <key>WorkingDirectory</key>
        <string>/Users/zachary/etc</string>
</dict>
</plist>